{% if user.links %}
    <div style = "width: fit-content; position: relative;">
        <div style = "display: flex; justify-content: center;">
            <h4>Previous Downloads</h4>
            <button class = "btn btn-outline-secondary btn-sm" type = "button" id = "clearHistoryButton" style="position: absolute; right: 1.5rem;">
                <i class="bi bi-trash"></i>
                Clear
            </button>
        </div>
        <div class="downloadsListDiv">
            <ul class="list-group downloadsList" id="downloadsList" style="height: 50vh; overflow-y: auto;">
                {% for youtube_link in user.links|reverse %}
                <li class="list-group-item" style="background-color: rgb(243, 243, 243);">
                    <div style="text-align: center;">
                        <strong style="font-size: .9rem;">{{youtube_link.title}}</strong> <br>
                        <a href="{{ youtube_link.link }}" target="_blank">
                            {{ youtube_link.link }}
                        </a>
                        <div style="padding-top: 1px; display: flex; justify-content: center;">
                            Date: {{youtube_link.date_added}}
                            <!-- TODO Fix button position when in form -->
                            <form class="redownload" method="POST" style="margin-left: 5px;">
                                <input type="hidden" name="url" value="{{youtube_link.link}}">
                                <button type="submit" title="Download Again!"
                                    style="font-size: 13px; text-align: center; padding: 0px 3px 0px 3px; border-width: 1px;">
                                    Download Again!
                                </button>
                            </form>
                            <br>
                        </div>
                        {% if youtube_link.thumbnail_link %}
                        <a href="{{ youtube_link.thumbnail_link }}" target="_blank" title="Video Thumbnail">
                            <img class="thumbnail" src="{{ youtube_link.thumbnail_link }}" alt="Video Thumbnail"
                                style="width: 480px; margin-top: 10px;">
                        </a>
                        {% endif %}
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}