{% extends "blueprint.html" %}

{%block title%}Home Page{%endblock%}

{%block cssimports%}
<link rel="stylesheet" href="{{ url_for('static', filename='homestyles.css') }}">
{%endblock%}

{%block content%}

<form method="POST">
    <div class="formGroup">
        <label for="ytplaylist">
            <h3>Enter YouTube Playlist Link Here</h3>
        </label>
        <div class="inputs">
            <div class="formInput textInput">
                <input type="text" class="form-control" name="url">
            </div>
            <button class = "btn btn-primary searchButton" type="Submit">Search</button>
        </div>
    </div>
</form>

<ul class = "list-group"> <h4>Previous Searches</h4>
    {% for youtube_link in user.links|reverse %}
    <li class = "list-group-item">
        {{youtube_link.title}} <br>
        <a href="{{ youtube_link.link}}" target="_blank">{{ youtube_link.link }}</a> <br>
        Date: {{youtube_link.date_added}} <br>
    </li>
    {% endfor %}
</ul>

{%endblock%}