{% extends "blueprint.html" %}

{%block title%}Home Page{%endblock%}

{%block cssimports%}
<link rel="stylesheet" href="{{ url_for('static', filename='playlistdownloaderstyles.css') }}">
{%endblock%}

{%block scripts%}
<script type="text/javascript">
    window.onload = function () {
        const href = window.location.href;
        let downloadInProgress = false;
        let fileName = undefined
        let backendAlerts = []

        let socketid = undefined

        const progressBar = document.getElementById("progress-bar");
        const progress = document.getElementById("progress");
        const percentText = document.getElementById("percentText");
        const playlistForm = document.getElementById("playlistForm");
        const playlistInput = document.getElementById("playlistInput");
        playlistInput.focus();

        setButtonOnClicks();

        socket.on("connect", function () {
            console.log("Connected to server");
            socketid = socket.id;
            console.log("ID: " + socketid);
        });
        socket.on("get id", function () {
            socket.emit("socket id", socket.id);
        });
        socket.on("zip update", function (percent) {
            console.log("Received message from server: " + percent);
            if (percent) {
                progressBar.style.width = percent + "%";
                percentText.innerHTML = Math.trunc(percent) + "%";
            }
        });
        socket.on("file name", function (name) {
            console.log("File name will be: " + name);
            fileName = name;
        });
        socket.on('disconnect', function () {
            console.log("Disconnected from server");
        });

        socket.on("alert", function (content) {
            backendAlerts.push([content.message, content.category]);
        });

        playlistForm.onsubmit = function (event) {
            download(event)
        }

        function download(event) {
            event.preventDefault();
            let formData = new FormData(event.target);
            formData.append("ignore_list", ignoreList.toString());
            const ignoreListWasEmpty = (ignoreList.length == 0);
            ignoreList = [];
            downloadInProgress = true;
            fetch("/download/" + socket.id, {
                method: "POST",
                body: formData
            })
            .then((response) => {
                return response.blob();
            })
            .then((data) => {
                if (fileName != undefined) {
                    let a = document.createElement("a");
                    a.href = window.URL.createObjectURL(data);
                    a.download = fileName;
                    a.click();
                    fileName = undefined;
                    downloadInProgress = false;
                    if (ignoreListWasEmpty) alerts.replaceChildren(createAlertDiv("Download complete!", "success"));
                    else alerts.replaceChildren(createAlertDiv("Download complete! Ignore list was reset.", "success"));
                    //reload html for previous downloads list
                    reloadDownloadsList();
                }
            })
            .then(() => {
                //set progress bar back to 0% after 1 second
                setTimeout(function () {
                    progressBar.style.width = "0%";
                    percentText.innerHTML = "";
                }, 1000);
                //display all flash/alert messages from backend if there are any
                displayBackendAlerts(backendAlerts);
                backendAlerts = []
            })
        }

        function displayBackendAlerts(backendAlerts) {
            if (backendAlerts.length != 0) {
                let alerts = document.getElementById("alerts");
                alerts.innerHTML = "";
                for (let flashData of backendAlerts) {
                    const alertDiv = createAlertDiv(flashData[0], flashData[1]);
                    alerts.appendChild(alertDiv);
                }
            }
        }

        function createAlertDiv(message, category) {
            const alertDiv = document.createElement("div");
            alertDiv.style = "margin-bottom: 10px";

            let alertType = category == "error" ? "alert-danger" : "alert-success";
            let alertMessageDiv = document.createElement("div");
            alertMessageDiv.className = `alert ${alertType} alter-dismissable fade show`;
            alertMessageDiv.innerHTML = message;
            alertMessageDiv.setAttribute("role", "alert");
            alertMessageDiv.style = "width: 37vw; min-width: 325px; margin: auto; position: relative; padding-right: 3.25rem;";
            
            let closeButton = document.createElement("button");
            closeButton.type = "button";
            closeButton.className = "close";
            closeButton.style = "position: absolute; right: 1rem; top: .75rem; margin-left: 10px;"
            closeButton.setAttribute("data-dismiss", "alert");
            closeButton.setAttribute("aria-label", "Close");
            
            let i = document.createElement("i");
            i.className = "bi bi-x-circle";
            
            closeButton.appendChild(i);
            alertMessageDiv.appendChild(closeButton);
            alertMessageDiv.appendChild(document.createElement("br"));
            alertDiv.appendChild(alertMessageDiv);
            return alertDiv;
        }
        
        function setButtonOnClicks() {
            for (form of [...document.getElementsByClassName("redownload")]) {
                form.onsubmit = download;
            }
            const clearHistoryButton = document.getElementById("clearHistoryButton");
            if (clearHistoryButton) clearHistoryButton.onclick = confirmHistoryClear;
        }
        
        function reloadDownloadsList() {
            fetch("/downloads-list", {
                method: "GET"
            })
            .then((response) => {
                if (response.status = 200) return response.text();
            })
            .then((html) => {
                if (html) {
                    console.log(html);
                    document.getElementById("previousDownloadsList").innerHTML = html;
                    setButtonOnClicks();
                }
                else document.getElementById("previousDownloadsList").innerHTML = "";
            });
        }
        
        const ignoreListAddButton = document.getElementById("ignoreListAddButton");
        const ignoreInput = document.getElementById("ignoreInput");
        const ignoreListData = document.getElementById("ignoreListData");

        let ignoreList = [];

        const regex1 = new RegExp(String.raw`(https:\/\/www\.youtube\.com\/watch\?v=[A-Za-z0-9-_]{11}).*`);
        const regex2 = new RegExp(String.raw`(https:\/\/youtu\.be\/[A-Za-z0-9-_]{11}).*`);

        ignoreListAddButton.onclick = function() {
            if (ignoreInput.value) {
                let input = String(ignoreInput.value).trim(); //get rid of whitespace if there are any
                if (regex1.test(input) || regex2.test(input)) {
                    let matchedURL = (input.match(regex1) || input.match(regex2))[1];

                    if (ignoreList.includes(matchedURL)) {
                        alerts.replaceChildren(createAlertDiv("Cannot add video to ignore list. Reason: Video is already in the ignore list", "error"));
                        return;
                    }

                    ignoreList.push(matchedURL);

                    //create list item to display the URL in the ignore list
                    const ignoreListItem = document.createElement("li");
                    ignoreListItem.className = "list-group-item";
                    ignoreListItem.value = matchedURL;
                    ignoreListItem.innerHTML = `<a href = ${matchedURL}> ${matchedURL} </a>`;
                    ignoreListItem.style = "display: flex; font-size: .95rem; justify-content: space-between; align-items: center;";

                    //add a button to the list item to remove it from the ignore list
                    const removeButton = document.createElement("button");
                    removeButton.className = "btn btn-outline-danger btn-sm";
                    removeButton.style = "margin-left: 5%;";

                    const deleteIcon = document.createElement("i");
                    deleteIcon.className = "bi bi-dash-lg";
                    removeButton.appendChild(deleteIcon);

                    //add onclick event to remove the item from the ignore list
                    removeButton.onclick = function() {
                        ignoreList.splice(ignoreList.indexOf(matchedURL), 1);
                        ignoreListItem.remove();
                    }

                    //append the button to the list item
                    ignoreListItem.appendChild(removeButton);

                    //append the list item to the list
                    ignoreListData.appendChild(ignoreListItem);

                    //clear the input field
                    ignoreInput.focus();
                    ignoreInput.value = "";
                } 
                else alerts.replaceChildren(createAlertDiv("Cannot add video to ignore list. Reason: Invalid YouTube link", "error"));
            }            
        }

        function confirmHistoryClear() {
            if (downloadInProgress) {
                alerts.replaceChildren(createAlertDiv("Cannot clear history. Reason: Download in progress", "error"));
                return;
            }
            if (confirm("Are you sure you want to clear your history?\nYou won't be able to get it back!")) clearHistory();
        }

        function clearHistory() {
            fetch("/clear-history", {
                method: "POST"
            })
            .then((response) => {
                reloadDownloadsList();
                if (response.status != 200) alerts.replaceChildren(createAlertDiv("Cannot clear history. Reason: Unknown error (You're probably signed out!)", "error"));
            });
        }
    }
</script>
{%endblock%}

{%block content%}

<div class="alerts" id="alerts">
    
</div>

<form action="/download" id="playlistForm" method="POST">
    <div class="formGroup">
        <label for="ytplaylist">
            <span style="width: 37vw; font-size: calc(.65rem + 2vw);">Enter YouTube Playlist/Video Link Here</span>
        </label>
        <div class="inputs">
            <div class="formInput position-relative playlistForm">
                <input class="form-control playlistInput" id="playlistInput" type="text" class="form-control"
                    name="url">
                <button class="btn btn-primary btn-sm position-absolute searchButton" type="submit"
                    value="Search">Search</button>
            </div>
        </div>
    </div>
    <div class="progress position-relative download" id="progress" style="text-align: center;">
        <div class="progress-bar" id="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0"
            aria-valuemin="0" aria-valuemax="100">
            <div class="justify-content-center d-flex position-absolute w-100" id="percentText"></div>
        </div>
    </div>
    <div>
        <div style="padding-top: 20px; text-align: center;">
            <div class = "range">
                <label for="Ranges" style="text-align: center;">
                    <h4>Specify Range (Inclusive)</h4>
                </label>
            </div>
            <div style="display: flex; flex-wrap: wrap; justify-content: center; gap: 1vw;">
                <div class="rangeOption">
                    <!--TODO: change min width according to screensize of mobile device-->
                    <div style="white-space: nowrap; text-align: center;">Start from playlist video (URL):</div>
                    <input class="form-control" type="text" name="start_video"
                        placeholder="https://www.youtube.com/watch?v=example123" style="text-align:center;">
                </div>
                <div class="rangeOption">
                    <div style="white-space: nowrap; text-align: center;">End at playlist video (URL):</div>
                    <input class="form-control" type="text" name="end_video"
                        placeholder="https://www.youtube.com/watch?v=example123" style="text-align:center;">
                </div>
                <div>
                    <div>
                        <div class = "rangeOption">
                            <div style="white-space: nowrap; text-align: center;">Ignore videos (URL):</div>
                            <input class="form-control" type="text" id = "ignoreInput" onkeydown="return (event.keyCode!=13);" 
                            placeholder="https://www.youtube.com/watch?v=example123" style="text-align:center;">
                            <button class = "btn btn-outline-success" id = "ignoreListAddButton" type = "button" style="height: 40px; margin-top: 10px;">
                                <i class="bi bi-plus-lg"></i>
                            </button>
                            <ul class = "list-group" id = ignoreListData style="max-height: 175px; overflow: auto; list-style: none; margin-top: 10px;">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


<div class="previousDownloadsList" id="previousDownloadsList" style="padding-left: 0.5vw; padding-top: 20px; display: flex; flex-direction: column; align-items: center;">
    {% if user.links %}
    <div style = "width: fit-content; position: relative;">
        <div style = "display: flex; justify-content: center;">
            <h4>Previous Downloads</h4>
            <button class = "btn btn-outline-secondary btn-sm" type = "button" id = "clearHistoryButton" style="position: absolute; right: 1.5rem;">
                <i class="bi bi-trash"></i>
            </button>
        </div>
        <div class="downloadsListDiv">
            <ul class="list-group downloadsList" id="downloadsList" style="height: 485px; overflow-y: auto;">
                {% for youtube_link in user.links|reverse %}
                <li class="list-group-item" style="background-color: rgb(243, 243, 243);">
                    <div style="text-align: center;">
                        <strong>{{youtube_link.title}}</strong> <br>
                        <a href="{{ youtube_link.link }}" target="_blank">
                            {{ youtube_link.link }}
                        </a>
                        <div style="padding-top: 1px; display: flex; justify-content: center;">
                            Date: {{youtube_link.date_added}}
                            <!-- TODO Fix button position when in form -->
                            <form class="redownload" method="POST" style="margin-left: 5px;">
                                <input type="hidden" name="url" value="{{youtube_link.link}}">
                                <button type="submit" title="Download Again!"
                                    style="font-size: 13px; text-align: center; padding: 0px 3px 0px 3px; border-width: 1px;">
                                    Download Again!
                                </button>
                            </form>
                            <br>
                        </div>
                        {% if youtube_link.thumbnail_link %}
                        <a href="{{ youtube_link.thumbnail_link }}" target="_blank" title="Video Thumbnail">
                            <img class="thumbnail" src="{{ youtube_link.thumbnail_link }}" alt="Video Thumbnail"
                                style="width: 70%; margin-top: 10px;">
                        </a>
                        {% endif %}
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}
</div>

{%endblock%}