.alerts {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-flow: row wrap;
    gap: 10px;
}
/* ↓ Everything related to the main input ↓ */
.mainLabelText {
    width: 37vw;
    font-size: calc(.65rem + 2vw);
}
.formGroup {
    text-align: center;
    padding-top: 1vw;
}
.inputs {
    display: flex;
    justify-content: center;
}
.playlistForm {
    min-width: 320px;
    width: 50vw;
}
.form-control.playlistInput {
    padding-right: max(80px, 10%);
}
.btn.searchButton {
    min-width: 65px;
    width: 10%;
    right: .5%;
    top: 8%;
}
.progress.download{
    background-color: gray;
    min-width: 320px;
    margin: auto;
    margin-top: 1%;
    width: 50vw;
    text-align: center;
}
.progress-bar {
    width: 0%;
}
/* ↓ Everything related to the range options ↓ */
.rangesParent {
    padding-top: 20px;
    text-align: center;
}
.rangeOptionsParent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1vw;
}
.rangeOption {
    min-width: 320px;
    width: 23vw;
}
.rangeOptionText {
    white-space: nowrap;
    text-align: center;
}
.rangeOptionInput {
    text-align: center;
}
.ignoreListAddButton {
    height: 40px;
    margin-top: 10px;
}
.ignoreList {
    max-height: 175px;
    overflow: auto;
    list-style: none;
    margin-top: 10px;
}
/* ↓ Previous Downloads List and related ↓ */
.previousDownloadsParent {
    min-width: 480px;
    width: fit-content;
    margin: auto;
}
.previousDownloadsMainText {
    display: flex;
    justify-content: center;
    position: relative;
}
.clearHistoryButton {
    position: absolute;
    right: 2.1rem;
}
.previousDownloadsList {
    height: 50vh;
    overflow-y: scroll;
}
.previousDownloadListItem {
    background-color: rgb(243, 243, 243);
}
.previousDownloadDetails {
    text-align: center;
    position: relative;
    margin-left: .75rem;
    margin-right: 2rem;
}
.previousDownloadTitle {
    font-size: .9rem;
}
.previousDownloadDate {
    padding-top: 1px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.redownload {
    margin-left: 5px;
}
.downloadAgainButton {
    font-size: 13px;
    text-align: center;
    padding: 0px 3px 0px 3px;
    border-width: 1px;
}
.previousDownloadThumbnail {
    width: 85%;
    margin-top: 10px;
}
.deleteFromHistoryButton {
    position: absolute;
    right: 1rem;
    top: 1rem;
}
/* ↓ Media Queries ↓ */
@media only screen and (max-width: 500px) {
    .previousDownloadsParent {
        min-width: 450px;
    }
}
@media only screen and (max-width: 450px) {
    .previousDownloadsParent {
        min-width: fit-content;
    }
    .previousDownloadsHeader {
        font-size: 1.25rem;
    }
    .clearHistoryButton {
        right: 1.1rem !important;
    }
}
@media only screen and (max-width: 400px) {
    .clearHistoryText {
        display: none;
    }
}
@media only screen and (max-width: 350px) {
    .previousDownloadsParent {
        min-width: fit-content;
    }
}
@media only screen and (max-width: 320px) {
    .rangeOption {
        min-width: 275px;
    }
    .playlistForm {
        min-width: 275px;
    }
    .progress.download {
        min-width: 275px;
    }
}
@media only screen and (max-width: 300px) {
    .rangeOption {
        min-width: 225px;
    }
    .playlistForm {
        min-width: 225px;
    }
    .progress.download {
        min-width: 225px;
    }
}