.formGroup {
    text-align: center;
    padding-top: 1vw;
}
.inputs {
    display: flex;
    justify-content: center;
}
.playlist {
    min-width: 250px;
    width: 33vw;
    padding-right: 1vw;
}
.rangeListItem {
    margin-right: 1vw;
}
