.formGroup {
    text-align: center;
    padding-top: 1vw;
}
.inputs {
    display: flex;
    justify-content: center;
}
.playlistForm {
    min-width: 320px;
    width: 50vw;
}
.form-control.playlistInput {
    padding-right: max(80px, 10%);
}
.btn.searchButton {
    min-width: 65px;
    width: 10%;
    right: .25rem;
    top: .15rem;
}
.progress.download{
    background-color: gray;
    min-width: 320px;
    margin: auto;
    margin-top: 1%;
    width: 50vw;
}
.progress-bar{
    background-color: gray;
}
.rangeOption {
    min-width: 320px;
    width: 23vw;
}

@media only screen and (max-width: 450px) {
    .previousDownloads {
        font-size: 1.25rem;
    }
    .clearHistory {
        right: 1.1rem !important;
    }
}
@media only screen and (max-width: 400px) {
    .clearHistoryText {
        display: none;
    }
}
@media only screen and (max-width: 320px) {
    .rangeOption {
        min-width: 275px;
    }
    .playlistForm {
        min-width: 275px;
    }
    .progress.download {
        min-width: 275px;
    }
}
@media only screen and (max-width: 300px) {
    .rangeOption {
        min-width: 225px;
    }
    .playlistForm {
        min-width: 225px;
    }
    .progress.download {
        min-width: 225px;
    }
}
.previousDownloadsList {
    padding-left: 0.5vw;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.alerts {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-flow: row wrap;
    gap: 10px;

}